/*Gestion du style du navbar*/
.app__navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  align-items: center;
  background-color: var(--dark-blue);
  font-size: var(--home-font-size);
  font-family: var(--font-family);
  border-bottom: 1px solid var(--very-dark-blue-dark-mode);
}
.app__navbar-title {
  font-size: 20px;
  font-weight: bold;
}
.app__navbar-mode {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}
/*Gestion du responsive*/
@media screen and (max-width: 450px) {
  .app__navbar {
    padding: 1rem 1rem;
    font-size: 12px;
  }
  .app__navbar-title {
    font-size: 15px;
  }
}
